.prueba {
    width: 40rem;
    height: 60rem;
    border: 1px solid black;

    margin-top: 10rem;
    margin:auto;
}

.cuadros {
    font-size: 3rem;
    border: 1px solid salmon;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10rem;
    height: 10rem;
    margin-top: auto;
}